<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="2.1.2" targetFramework="net45" />
  <package id="dotNetRDF" version="0.9.0.2110" targetFramework="net45" />
  <package id="dotNetRDF.Data.Sql" version="0.7.0" targetFramework="net45" />
  <package id="dotNetRDF.Data.Virtuoso" version="0.9.0.2110" targetFramework="net45" />
  <package id="dotNetRDF.Query.FullText" version="0.6.0.2110" targetFramework="net45" />
  <package id="HtmlAgilityPack" version="1.4.6" targetFramework="net45" />
  <package id="IKVM_Core_Libraries" version="1.0.1" targetFramework="net45" />
  <package id="jQuery" version="1.9.1" targetFramework="net45" />
  <package id="Lucene.Net" version="3.0.3" targetFramework="net45" />
  <package id="Lucene.Net.Contrib" version="3.0.3" targetFramework="net45" />
  <package id="Lucene.Net.Linq" version="3.1.45" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="4.5.11" targetFramework="net45" />
  <package id="OpenLink.Data.Virtuoso" version="6.2.3128.1" targetFramework="net45" />
  <package id="Remotion.Linq" version="1.13.183.0" targetFramework="net45" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net45" />
  <package id="Tika_0.9_Assembly" version="1.0.2" targetFramework="net45" />
  <package id="TinyMCE" version="3.5.8" targetFramework="net45" />
  <package id="VDS.Common" version="1.1.2" targetFramework="net45" />
</packages>